@charset "UTF-8";


/*Home*/
#home{
	background:url('../img/background1.png') center/cover no-repeat;
	padding:40px;
	padding-top:120px;
	text-align:center;
}
.home__avatar{
/* 	width : 250px; */
	height : 250px;
	border-radius: 50%;
	border:2px solid var(--color-light-white);
}
.home__title,
.home__description{
	color:var(--color-white);
}

.home__contact{
	font-size:var(--font-regular);
	font-weight:var(--weight-semi-bold);
	margin:24px;
	
	padding:8px 12px;
	border: 2px solid white;
	border-radius: var(--size-border-radius);
}
.home__contact:hover{
	color: blue;
	background-color: var(--color-ashgray);
}


