@charset "UTF-8";
@import url("Master.css");
	/*Typography*/
	
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*Home*/
#home{
	background:url('../img/background1.png') center/cover no-repeat;
	padding:40px;
	text-align:center;
}
.home__avatar{
	width : 250px;
	height : 250px;
	border-radius: 50%;
	border:2px solid var(--color-light-white);
}
.home__title,
.home__description{
	color:var(--color-white);
}

.home__contact{
	color:var(--font-white);
	font-size:var(--font-regular);
	font-weight:var(--weight-regular);
	margin:24px;
	
	padding:8px 12px;
	border: 2px solid white;
	border-radius: var(--size-border-radius);
}
.home__contact:hover{
	background-color: var(--color-ashgray);
}


