@charset "UTF-8";
@import url("Master.css");

/*Navbar*/
#navbar{
	/* position: fixed;  (2020-11.26)*/
	position: sticky;
	width:100%;
	height:auto;
	display:flex;
	top:0px;
	left:0px;
	justify-content: space-between;
	/* background-color:transparent;  (2020-11.26)*/
	background-color:var(--color-bestgreen);
	align-items:center;
	padding:16px;
	border-radius: 4px;
	z-index: 3;
	transition: all var(--animation-duration) ease-in-out;
}
#navbar.navbar--dark{
	background-color: var(--color-bestgreen);
	padding: 8px;
}
.navbar__menu{
	display:flex;
	color: var(--color-white);
}

.navbar__logo{
	font-size:var(--font-medium);
	font-weight:var(--weight-semi-bold);
}
.navbar__logo > a{
	font-size:var(--font-medium);
}

.navbar__menu__item{
	padding:8px 12px;
	margin: 0 4px;
	border-radius: var(--size-border-radius);
}
.navbar__menu__item.active{
	border:1px solid var(--color-white);
	color:var(--color-bootstrap-blue-hover);
}
.navbar__menu__item:hover{
	background-color: var(--color-ashgray);
}

.navbar__icons{
	list-style:none;
	color:white;
	display:flex;
	padding-left: 0;
}
.navbar__icons li{
	padding: 4px 4px;
}

.navbar__icons li a i{
	transition:all var(--animation-duration) ease;
}
.navbar__icons li a i:hover{
	color: var(--color-spruceblue);
	transform:rotate(360deg) scale(2.0);
}

.navbar__toogleBtn{
		display:none;
		position: absolute;
		top:16px;
		right: 26px;
		font-size:var(--font-medium);
		color:(--accent-color);
}
.arrow__up__button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color:white;
    background-color:#9DC8C8;
    border-radius: 50%;
    border:none;
    /* display: none;  */
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in;
    z-index: 3;

}
/* Scroll*/
.arrow__up__button.visible{
    /* display: block; */
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}


@media screen and (max-width: 968px) { 
#navbar{
	flex-direction: column;
	align-items:flex-start;
	padding: 8px 24px;
}
.navbar__menu{
	display:none;
	flex-direction: column;
 	align-items:center;
	width:100%;
}
.navbar__menu li{
	
	text-align: center;
	width:100%;
}
.navbar__menu a{
	display:block;
	width:100%;
}
.navbar__logo{
	
	justify-content: center;
	width:100%;
}
.navbar__logo > a{
	font-size:var(--font-large);
}

  /* Icon  */
	.navbar__icons{
		display:none;
		justify-content: center;
		width:100%;	
	}
	.navbar__toogleBtn{
		display: block;
	}
	.navbar__menu.active,
	.navbar__icons.active{
		display:flex;
		margin:4px;
	}
	
}
